<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a responsive product landing page.">

    <title>Get Homie - Find your perfect Agent</title>

    


<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">



<!--[if lte IE 8]>
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
  
<![endif]-->
<!--[if gt IE 8]><!-->
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
  
<!--<![endif]-->



  
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="../css/layouts/marketing.css">
    <!--<![endif]-->
  



<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

<script src="scripts/wufoo.js"></script>

 
    

</head>
<body>
<div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
    <header>
        <img src="../img/common/homie-logo-big.png"  alt="Homie" id="header-logo" /> 
    </header><!-- width="782" height="2000" -->
</div>

<!-- <div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/"></a>
        <div id="logo">
            <img class="pure-img-responsive" alt="Homie"  src="../img/common/homie-logo-big.png"></img>
        </div>
    </div>
</div>
 -->
<div class="splash-container">
    <div class="splash pure-g" id="splash-downloads">
            <div class="pure-u-1 pure-u-md-1-2">
                 <img class="pure-img-responsive" alt="Homie"  src="../img/common/single-screen.jpg" id="app-store-img"></img>
            </div>

            <div class="pure-u-1 pure-u-md-1-2">
                <h1 class="splash-head" id="subhead-downloads">ios confirmed</h1> </br>
                <p class="splash-subhead" id="subhead-p">
                 You can be the first to know when we launch in the App Store.
                </p>

<div class="form" id="get-notified">
                        
<form id="form27" name="form27" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
      action="https://customform.wufoo.com/forms/m1gmoh841t9ipyh/#public">
  

<ul>

<li id="foli1" class="notranslate      ">
<label class="desc" id="title1" for="Field1">
First Name
</label>
<div>
<input id="Field1" name="Field1" type="text" class="field text medium" value="" maxlength="255" tabindex="1" onkeyup="" />
</div>
</li>
<li id="foli3" class="notranslate      ">
<label class="desc" id="title3" for="Field3">
Email
<span id="req_3" class="req"></span>
</label>
<div>
<input id="Field3" name="Field3" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="2" required />
</div>
</li>
<li id="foli2" class="notranslate       ">
<label class="desc" id="title2" for="Field2">
What Best Describes You
<span id="req_2" class="req"></span>
</label>
<div>
<select id="Field2" name="Field2" class="field select medium" tabindex="3" >
<option value="" selected="selected">
</option>
<option value="I want to sell my home" >
I want to sell my home
</option>
<option value="I want to buy a new home&amp;lt;" >
I want to buy a new home
</option>
<option value="I want to both sell and buy" >
I want to both sell and buy
</option>
<option value="I&#039;m an agent" >
I'm an agent
</option>
</select>
</div>
</li>
<li id="foli6" class="notranslate       ">
<!-- <label class="desc" id="title4" for="Field4">
Device Type
<span id="req_4" class="req"></span>
</label> -->
<div>
<input id="Field6" name="Field6" type="text" class="field text medium" value="" maxlength="255" tabindex="" onkeyup="" />
</div>
</li> <li class="buttons ">
<div>

                    <input id="saveForm" name="saveForm" class="btTxt submit" 
    type="submit" value="Submit"
 /></div>
</li>

<li class="hide">
<label for="comment">Do Not Fill This Out</label>
<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
<input type="hidden" id="idstamp" name="idstamp" value="5aqeJ3fZW/qlF8SbemADKIxWmdc+exvOdiTTk4LLBQU=" />
</li>
</ul>
</form> 
                    </div>
            </div>  
    </div>
</div>

</body>
</html>
